
    <h2>Employee List 
        <span class="flex-spacer"></span>
        <button mat-raised-button color="primary" (click)="openAddEmployeeDialog()" class="add-btn">Add Employee</button>
    </h2>
    <mat-divider></mat-divider>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Current Employees">    
            <div class="desktopView" *ngIf="!isMobile()">
                <mat-table *ngIf="getCurrentEmployee().length" [dataSource]="getCurrentEmployee()" class="mat-elevation-z8" matSort>
               
                <ng-container matColumnDef="name" >
                  <mat-header-cell *matHeaderCellDef>NAME</mat-header-cell>
                  <mat-cell *matCellDef="let employee">
                      {{ employee.name | titlecase }}
                  </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef>POSITION</mat-header-cell>
                    <mat-cell *matCellDef="let employee">{{ employee.position }}</mat-cell>
                </ng-container>
          
                <ng-container matColumnDef="from">
                    <mat-header-cell *matHeaderCellDef>FROM</mat-header-cell>
                    <mat-cell *matCellDef="let employee">{{ employee.fromDate }}</mat-cell>
                </ng-container>
          
                <ng-container matColumnDef="to">
                    <mat-header-cell *matHeaderCellDef>TO</mat-header-cell>
                    <mat-cell *matCellDef="let employee">{{ employee.toDate==='No Date'?'-':employee.toDate }}</mat-cell>
                </ng-container>
           
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>ACTIONS</mat-header-cell>
                    <mat-cell *matCellDef="let employee">
                        <button mat-icon-button color="primary" (click)="editEmployee(employee)">
                        <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteEmployee(employee)">
                        <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
            
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'hidden-row': hidePreviousEmployee(row) }"></mat-row>
                </mat-table> 
            </div>

            <div class="mobileView" *ngIf="isMobile()">
                <div class="card" *ngFor="let employee of getCurrentEmployee()">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title> {{ employee.name | titlecase }}</mat-card-title>
                          <mat-card-subtitle>{{ employee.position }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ employee.fromDate }} {{ employee.toDate==='No Date'?'':'-'+employee.toDate }}</p>
                        </mat-card-content>
                      </mat-card>

                      <div class="cutomActionBtn">
                        <button mat-icon-button color="primary" (click)="editEmployee(employee)">
                                <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteEmployee(employee)">
                            <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                </div>

            </div>

            <div *ngIf="!getCurrentEmployee().length" class="no-data">
                <div class="imgContainer" >
                    <img src="../../../assets/no_record.png" alt="image">
                </div>
                <h1>No Employee records found !!!</h1>
            </div>
        </mat-tab>
        <mat-tab label="Previous Employees">
            <div class="desktopView" *ngIf="!isMobile()">
                <mat-table *ngIf="getPreviousEmployee().length" [dataSource]="getPreviousEmployee()" class="mat-elevation-z8" matSort>
                    <ng-container matColumnDef="name" >
                      <mat-header-cell *matHeaderCellDef>NAME</mat-header-cell>
                      <mat-cell *matCellDef="let employee">
                          
                         
                            
                          {{ employee.name | titlecase }}
                      </mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef>POSITION</mat-header-cell>
                        <mat-cell *matCellDef="let employee">{{ employee.position }}</mat-cell>
                    </ng-container>
              
                    <ng-container matColumnDef="from">
                        <mat-header-cell *matHeaderCellDef>FROM</mat-header-cell>
                        <mat-cell *matCellDef="let employee">{{ employee.fromDate }}</mat-cell>
                    </ng-container>
              
                    <ng-container matColumnDef="to">
                        <mat-header-cell *matHeaderCellDef>TO</mat-header-cell>
                        <mat-cell *matCellDef="let employee">{{ employee.toDate==='No Date'?'-':employee.toDate }}</mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>ACTIONS</mat-header-cell>
                        <mat-cell *matCellDef="let employee">
                            <button mat-icon-button color="primary" (click)="editEmployee(employee)">
                            <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteEmployee(employee)">
                            <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'hidden-row': hideCurrentEmployee(row) }"></mat-row>
                </mat-table> 
            </div>

            <div class="mobileView" *ngIf="isMobile()">
                <div class="card" *ngFor="let employee of getPreviousEmployee()">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title> {{ employee.name | titlecase }}</mat-card-title>
                          <mat-card-subtitle>{{ employee.position }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ employee.fromDate }} {{ employee.toDate==='No Date'?'':'-'+employee.toDate }}</p>
                        </mat-card-content>
                    
                      </mat-card>
                      <div class="cutomActionBtn">
                        <button mat-icon-button color="primary" (click)="editEmployee(employee)">
                                <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteEmployee(employee)">
                            <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                </div>

            </div>

            <div *ngIf="!getPreviousEmployee().length" class="no-data">
                <div class="imgContainer" >
                    <img src="../../../assets/no_record.png" alt="image">
                </div>
                <h1>No Employee records found !!!</h1>
            </div>
        </mat-tab>
    </mat-tab-group>

  